<%- include("partials/header") %>

 <section class="bg-light text-center ">
<div class="text-center">
     <h1>Create and Rate</h1>
    <h2>Magic the Gathering Cards</h2>
  </div>
</section>

    <body>
        <div class = images-div>
         <img src= 'Homepage/Creature.jpg' class = "home-image" >
        <img src= 'Homepage/Land.jpg' class = "home-image">
        <img src= 'Homepage/Planeswalker.jpg' class = "home-image">
        <img src= 'Homepage/Sorcery.jpg' class = "home-image">
        </div>


 
       <div class="text-center mb-5 p-3 mb-2 bg-secondary text-white">
             <h1 >
                Create an Account Now! 
            </h1>
            <button class="btn btn-info"> <a class = "text-white" href="/signup">Sign Up!</a> </button>
        </div>
      
 
        <section class="bg-light text-center ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="  mx-auto mt-1 mb-5 mb-lg-0 mb-lg-3">
                             <h3>Custom Cards</h3>
                            <p class="lead mb-0">Create custom cards and share for everyone to see and rate!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class=" mx-auto mt-3 mb-5 mb-lg-0 mb-lg-3">
                             <h3>Review Sets</h3>
                            <p class="lead mb-0">See all the latest standard sets and see how people view cards!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="  mx-auto mt-4 mb-0 mb-lg-3">
                             <h3>Easy to Use</h3>
                            <p class="lead mb-0">Easy to get started and design your own card effects</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </body>

<%- include("partials/footer") %>
