<%- include("../partials/header") %>
 
     <div class="container">
        <form action = "/cards" method = "POST" >
            <h1>Submit Land Card</h1>
            <br>
            <!-- Top Row -->
            <div class = "row">
             <div class="col-md-12 ">
                <label for= "name" class="form-label ">Land Name</label>
                <input type="text"  class="form-control" id="inputdefault" name ="name" required autofocus>
             </div>
             
            
            </div>

            <div class="form-group">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" class="form-control" name ="image" required >
             </div>

             
            <!-- 2nd Row -->
            <div class = "row">
             <div class = "col-md-6">
                <label for="cardType" class="form-label">Card Type</label>
                <input type="text" class="form-control" name ="cardType" value = "Land" required>
             </div>

             <div class = "col-md-6">
                <label for="subTypes" class="form-label">Sub Types</label>
                <input type="text" class="form-control" name ="subTypes">
             </div>
            </div>

       

             <div class="form-group" >
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="5" name ="description" required> </textarea>
             </div>

 
             <br>
             <br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include ("../partials/footer") %>